{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block main %}
    <h1>{{ recipe.name }}</h1>
    {% if recipe.quantities %}
        <ul>
            {% for quantity in recipe.quantities %}
                <li>{{ quantity.amount }} {{ quantity.ingredient.measure }} {{ quantity.ingredient.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if saved %}
        <h2>Saved recipes</h2>
        <div>{{ saved }}</div>
    {% endif %}

    <a href="{{ url_for('frontend.recipe_list') }}">Recipes</a>
{% endblock %}
