{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block main %}
    <h1>{{ recipe.name }}</h1>
    {% if recipe.quantities %}
        <ul>
            {% for quantity in recipe.quantities %}
                <li>{{ quantity.amount }} {{ quantity.ingredient.measure }} <a href="{{ url_for('frontend.ingredient_list', slug = quantity.ingredient.slug) }}">{{ quantity.ingredient.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{{ url_for('frontend.recipe_action', slug=recipe.slug, action='save') }}" method="POST">
        <button>Save</button>
    </form>

    <a href="{{ url_for('frontend.recipe_list') }}">Recipes</a>
{% endblock %}
