{% extends 'base.html' %}

{% block title %}Saved recipe list{% endblock %}

{% block main %}
    <h1>Saved recipes</h1>
    {% if recipes %}
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="{{ url_for('frontend.recipe_detail', slug=recipe.slug) }}">{{ recipe.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes found</p>
    {% endif %}

    {% if quantities %}
        <h2>Ingredients</h2>
        <ul>
            {% for quantity in quantities.values() %}
                {% with ingredient = quantity.ingredient.get() %}
                    <li>{{ quantity.measured_amount }} <a href="{{ url_for('frontend.ingredient_detail', slug=ingredient.slug) }}">{{ ingredient.name|lower }}</a></li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
