<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Food{% endblock %}</title>
</head>
<body>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block main %}{% endblock %}

        <footer>
            <nav>
                <ul>
                    <li><a href="{{ url_for('frontend.recipe_list') }}">Recipes</a></li>
                    <li><a href="{{ url_for('frontend.ingredient_list') }}">Ingredients</a></li>
                    <li><a href="{{ url_for('frontend.saved') }}">Saved recipes</a></li>
                </ul>
            </nav>
        </footer>
    </main>
</body>
</html>
